In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\17084\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\17084\anaconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in c:\users\17084\anaconda3\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\17084\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\17084\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\17084\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

C:\Users\17084\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [29]:
#df = pd.read_csv("6M-0K-99K.users.dataset.public.csv")
df = pd.read_csv("users.6M0xxK.2024.public.csv")

In [18]:
df.head()

,identifierHash,type,countryCode,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,...,productsWished,productsBought,gender,civilityGenderId,civilityTitle,hasProfilePicture,seniority,seniorityAsMonths,seniorityAsYears,websiteLongevity
0,1920991140,user,us,Etats-Unis,en,3,8,0,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803
1,1920860068,user,se,Suède,en,3,8,1,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803
2,1920401316,user,it,Italie,fr,3,8,0,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803
3,1919811492,user,dk,Danemark,en,75,10,1968,0,0,...,43,15,M,1,mr,True,3206,106.87,8.91,3803
4,1919025060,user,de,Allemagne,de,3,8,0,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803

In [19]:
df.count()

identifierHash         20743
type                   20743
countryCode            20710
country                20743
language               20743
socialNbFollowers      20743
socialNbFollows        20743
socialProductsLiked    20743
productsListed         20743
productsSold           20743
productsPassRate       20743
productsWished         20743
productsBought         20743
gender                 20743
civilityGenderId       20743
civilityTitle          20743
hasProfilePicture      20743
seniority              20743
seniorityAsMonths      20743
seniorityAsYears       20743
websiteLongevity       20743
dtype: int64

In [30]:
# Calculate the size of each chunk
chunk_size = len(df) // 5 + (1 if len(df) % 5 else 0)

#Split the dataframe into chunks and save them
for i in range(5):
    start = i * chunk_size
    end = start + chunk_size
    chunk_df = df.iloc[start:end]
    #chunk_df.to_csv(f"/Users/17084/Desktop/Ecom_Azure_E2E/data/chunk_data/chunk{i+1}.csv", index = False)
    chunk_df.to_csv(f"chunk_data/chunk{i+5+1}.csv")